<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>CFUTV</display-name>

    <servlet>
        <servlet-name>CFUTV-servlet</servlet-name>
        <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>dk.kb.cfutv.web.CFUTVApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CFUTV-servlet</servlet-name>
        <url-pattern>/metadata/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>dk.kb.cfutv.web.WebInitiator</listener-class>
    </listener>


</web-app>